@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: Montserrat;
  letter-spacing: 0.02em;
  font-size: 18px;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  max-width: 1200px;
}

@media (min-width: 40rem) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
